<div class="div-flex">
  <button  type="button"   class="btn btn-success" (click)="goTo()"> Ajouter une équipe</button>
  

  
  
</div>







 



<div class="mat-elevation-z8">
  <h2>Tout les équipes</h2>
   <!--<h4><a routerLink="/equipe/detail" *ngIf="userPermission">Ajouter une equipe</a></h4>-->
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </mat-form-field>
  <mat-table [dataSource]="dataSource" matSort class="demo-table">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let equipe of equipes"> {{equipe.id}} </mat-cell>
    </ng-container>

    <!-- Nom Column -->
    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
      <mat-cell *matCellDef="let equipe of equipes"> {{equipe.nom}} </mat-cell>
    </ng-container>

    <!-- Objectif Column -->
    <ng-container matColumnDef="objectif">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Objectif </mat-header-cell>
      <mat-cell *matCellDef="let equipe of equipes"> {{equipe.objectif}} </mat-cell>
    </ng-container>

    <!-- Update Column -->
    <ng-container matColumnDef="update">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let equipe of equipes">
        <a routerLink="/editTeam/{{equipe.id}}"  *ngIf="userPermission" class="btn btn-primary" >update</a>
      </mat-cell>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete" *ngIf="userPermission">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let equipe of equipes">
        <button type="button" class="btn btn-danger" (click)="deleteEquipe(equipe.id!)">delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
</div>
<!-- Modal 
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>-->
