<mat-nav-list>
    <div class="logo py-3">
      <img [src]="logo" alt="" width="3%" height="3%">
    </div>
    <mat-divider></mat-divider>
    <h2 class="mt-2">
      <a href="/home" class="navbar-brand">Recognition Cortex</a>
    </h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/publication">
      <mat-icon>publication</mat-icon> Publication
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/profil">
      <mat-icon>perm_identity</mat-icon> Profile
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/badge">
      <mat-icon>badge</mat-icon> Badge
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/equipe">
      <mat-icon>supervisor_account</mat-icon> Equipe
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/recompense">
      <mat-icon>shopping_basket</mat-icon> Récompense
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/product">
      <mat-icon>store</mat-icon> Product
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/classement">
      <mat-icon>view_list</mat-icon> Classement
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/messagerie">
      <mat-icon>messagerie</mat-icon> Messagerie
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/parametres">
      <mat-icon>settings</mat-icon> Parametres
    </a>
</mat-nav-list>
  