<div class="container-fluid page">
  <div class="d-flex page__box p-5 mt-2">Dashboard</div>
      <br>
      <div class="main-panel">
          <div class="content-wrapper">
            <iframe title="Neocortex" width="1400" height="600" src="https://app.powerbi.com/reportEmbed?reportId=73e25c99-db06-47be-957c-2cd8e2f493e4&autoAuth=true&ctid=513486ec-6643-4f17-a508-76478311be42" frameborder="0" allowFullScreen="true"></iframe>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
      </div>
      <!--<iframe title="Neocortex" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=73e25c99-db06-47be-957c-2cd8e2f493e4&autoAuth=true&ctid=513486ec-6643-4f17-a508-76478311be42" frameborder="0" allowFullScreen="true"></iframe>-->
</div>