<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="row mr-2 ml-auto">
      <ul class="row m-0 align-items-center">
        <li class="nav-item">
          <a href="/utilisateurs" class="nav-link" routerLink="utilisateurs">
            <i class="fa fa-search"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="/utilisateurs" class="nav-link" routerLink="utilisateurs">
            <div class="row">
              <img [src]="coin" alt="" width="50%">230
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a href="/utilisateurs" class="nav-link" routerLink="utilisateurs">
          <div class="row">
            <img [src]="gift" alt="" width="70%">2
          </div>
          </a>
        </li>
        <li class="nav-item">
          <a href="/utilisateurs" class="nav-link" routerLink="utilisateurs">
            <i class="fa fa-bell"></i>
          </a>
        </li>
        <li>
          <button
            mat-button
            [matMenuTriggerFor]="menu"
            class="user mt-2 d-flex align-items-center"
          >
            <img src="./assets/images/pimage.jpeg" alt="" class="user-image mr-1 p-2" />

            {{ utilisateur.username }}
            <mat-icon class="user-image-icon ml-1"
              >keyboard_arrow_down</mat-icon
            >
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/profile">
              <mat-icon>perm_identity</mat-icon>
              Profile
            </button>
            <button mat-menu-item routerLink="/paramatere">
              <mat-icon>settings</mat-icon>
              Parametres
            </button>
            <button mat-menu-item routerLink="/admin">
              <mat-icon>panel</mat-icon>
              Admin Panel
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
