<div class="container-fluid page">
    <div class="d-flex page__box p-5 mt-2">Badge</div>
        <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-5">
                <div id="main-card">
                    <div class="cover-photo"></div>
                    <div class="photo">
                        <img src="https://github.githubassets.com/images/modules/profile/achievements/yolo-default.png" alt="">
                    </div>
                    <div class="content">
                        <h2 class="name">Yolo</h2>
                        <p>
                            Merged a pull request without code review
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div id="main-card">
                    <div class="cover-photo"></div>
                    <div class="photo">
                        <img src="https://github.githubassets.com/images/modules/profile/achievements/pull-shark-default.png" alt="">
                    </div>
                    <div class="content">
                        <h2 class="name">Pull Shark</h2>
                        <p>
                            2 pull requests merged
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div id="main-card">
                    <div class="cover-photo"></div>
                    <div class="photo">
                        <img src="https://github.githubassets.com/images/modules/profile/achievements/quickdraw-default.png" alt="">
                    </div>
                    <div class="content">
                        <h2 class="name">Quickdraw</h2>
                        <p>
                            Le Lorem Ipsum est simplement du faux texte employé
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div id="main-card">
                    <div class="cover-photo"></div>
                    <div class="photo">
                        <img src="https://github.githubassets.com/images/modules/profile/achievements/starstruck-bronze.png" alt="">
                    </div>
                    <div class="content">
                        <h2 class="name">Starstruck</h2>
                        <p>
                            Created a repository that has 16 stars
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div id="main-card">
                    <div class="cover-photo"></div>
                    <div class="photo">
                        <img src="https://github.githubassets.com/images/modules/profile/achievements/pair-extraordinaire-default.png" alt="">
                    </div>
                    <div class="content">
                        <h2 class="name">Pair Extraordinaire</h2>
                        <p>
                            Coauthored in a merged pull request
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div id="main-card">
                    <div class="cover-photo"></div>
                    <div class="photo">
                        <img src="https://github.githubassets.com/images/modules/profile/achievements/starstruck-default--light.png" alt="">
                    </div>
                    <div class="content">
                        <h2 class="name">Hola</h2>
                        <p>
                            Le Lorem Ipsum est simplement du faux texte employé
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div id="main-card">
                    <div class="cover-photo"></div>
                    <div class="photo">
                        <img src="https://github.githubassets.com/images/modules/profile/achievements/quickdraw-default--medium.png" alt="">
                    </div>
                    <div class="content">
                        <h2 class="name">Quickdraw</h2>
                        <p>
                            Closed an issue or a pull request within 5 min of opening
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div id="main-card">
                    <div class="cover-photo"></div>
                    <div class="photo">
                        <img src="https://github.githubassets.com/images/modules/profile/achievements/galaxy-brain-default.png" alt="">
                    </div>
                    <div class="content">
                        <h2 class="name">Galaxy Brain</h2>
                        <p>
                            2 accepted answers
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div id="main-card">
                    <div class="cover-photo"></div>
                    <div class="photo">
                        <img src="https://github.githubassets.com/images/modules/profile/achievements/yolo-default.png" alt="">
                    </div>
                    <div class="content">
                        <h2 class="name">Yolo</h2>
                        <p>
                            Merged a pull request without code review
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div id="main-card">
                    <div class="cover-photo"></div>
                    <div class="photo">
                        <img src="https://github.githubassets.com/images/modules/profile/achievements/yolo-default.png" alt="">
                    </div>
                    <div class="content">
                        <h2 class="name">Yolo</h2>
                        <p>
                            Merged a pull request without code review
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div id="main-card">
                    <div class="cover-photo"></div>
                    <div class="photo">
                        <img src="https://github.githubassets.com/images/modules/profile/achievements/yolo-default.png" alt="">
                    </div>
                    <div class="content">
                        <h2 class="name">Yolo</h2>
                        <p>
                            Merged a pull request without code review
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div id="main-card">
                    <div class="cover-photo"></div>
                    <div class="photo">
                        <img src="https://github.githubassets.com/images/modules/profile/achievements/yolo-default.png" alt="">
                    </div>
                    <div class="content">
                        <h2 class="name">Yolo</h2>
                        <p>
                            Merged a pull request without code review
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div id="main-card">
                    <div class="cover-photo"></div>
                    <div class="photo">
                        <img src="https://github.githubassets.com/images/modules/profile/achievements/yolo-default.png" alt="">
                    </div>
                    <div class="content">
                        <h2 class="name">Yolo</h2>
                        <p>
                            Merged a pull request without code review
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div id="main-card">
                    <div class="cover-photo"></div>
                    <div class="photo">
                        <img src="https://github.githubassets.com/images/modules/profile/achievements/yolo-default.png" alt="">
                    </div>
                    <div class="content">
                        <h2 class="name">Yolo</h2>
                        <p>
                            Merged a pull request without code review
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div id="main-card">
                    <div class="cover-photo"></div>
                    <div class="photo">
                        <img src="https://github.githubassets.com/images/modules/profile/achievements/yolo-default.png" alt="">
                    </div>
                    <div class="content">
                        <h2 class="name">Yolo</h2>
                        <p>
                            Merged a pull request without code review
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div id="main-card">
                    <div class="cover-photo"></div>
                    <div class="photo">
                        <img src="https://github.githubassets.com/images/modules/profile/achievements/yolo-default.png" alt="">
                    </div>
                    <div class="content">
                        <h2 class="name">Yolo</h2>
                        <p>
                            Merged a pull request without code review
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>