<div class="container-fluid page">
    <div class="d-flex page__box p-5 mt-2">Badge</div>
        <br>
    <div>
        <div class="row">
            <div class="col-lg-2 mb-5" *ngFor="let badge of badges">
                <div id="main-card">
                    <div class="cover-photo"></div>
                    <div class="photo">
                        <img src="{{badge.image}}" alt="">
                    </div>
                    <div class="content">
                        <h2 class="name">{{badge.nom}}</h2>
                        <p>
                            {{badge.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>