<div class="container-fluid page">
    <div class="d-flex page__box p-5 mt-2">Publication</div>
    <!--<a href="/add-post" class="new-post">Add Post</a>-->
        <br>
        <div>
        <div class="profile-wrapper">
            <div class="profile-section-user">
                <div class="profile-cover-img"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).webp" alt=""></div>
                <div class="profile-info-brief p-3"><img class="img-fluid user-profile-avatar" src="./assets/images/pimage.png" alt="">
                    <div class="text-center">
                        <h5 class="text-uppercase mb-4">{{ user.username }}</h5>
                        <p class="text-muted fz-base">I'm {{ user.username }} a web developer and software engineer. I studied computer science and software engineering.</p>
                    </div>
                </div>
                <!-- /.profile-info-brief -->
                <hr class="m-0">
                <div class="hidden-sm-down">
                    <hr class="m-0">
                    <div class="profile-info-contact p-4">
                        <h6 class="mb-3">Contact Information</h6>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><strong>URL:</strong></td>
                                    <td>
                                        <p class="text-muted mb-0">Rathemes.com/inde.html</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>EMAIL:</strong></td>
                                    <td>
                                        <p class="text-muted mb-0">rathemes@gmail.com</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>PHONE:</strong></td>
                                    <td>
                                        <p class="text-muted mb-0">01145525755</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>SKYPE:</strong></td>
                                    <td>
                                        <p class="text-muted mb-0">Rathemes</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.profile-info-contact -->
                    <hr class="m-0">
                    <div class="profile-info-general p-4">
                        <h6 class="mb-3">General Information</h6>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><strong>JOB:</strong></td>
                                    <td>
                                        <p class="text-muted mb-0">Web Developer</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>POSITION:</strong></td>
                                    <td>
                                        <p class="text-muted mb-0">Team Manager</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>STUDIED:</strong></td>
                                    <td>
                                        <p class="text-muted mb-0">Computer Science</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>LAST SEEN:</strong></td>
                                    <td>
                                        <p class="text-muted mb-0">Yesterday 8:00 AM</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.profile-info-general -->
                    <hr class="m-0">
                </div>
                <!-- /.hidden-sm-down -->
            </div>
            <!-- /.profile-section-user -->
            <div class="profile-section-main">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#profile-overview" role="tab">Timeline</a></li>
                </ul>
                <!-- /.nav-tabs -->
                <!-- Tab panes -->
                <div class="tab-content profile-tabs-content">
                    <div class="tab-pane active" id="profile-overview" role="tabpanel">
                        <div class="post-editor">
                            <app-add-post></app-add-post>
                        </div>
                        <!-- /.post-editor -->
                        <div class="stream-posts">
                            <div class="stream-post" *ngFor = "let post of posts | async">
                                <div class="sp-author">
                                    <a href="#" class="sp-author-avatar">
                                        <img src="./assets/images/pimage.png" alt=""></a>
                                    <h6 class="sp-author-name"><a href="#">
                                        <i class="fas fa-user"></i> Author : <b>{{post.username}}</b>
                                    </a></h6>
                                </div>
                                <div class="sp-content">
                                    <div class="sp-info row">
                                        <div class="col-sm-6">
                                            <h3>
                                                <a href="/post/{{post.id}}" class="blog-title">{{post.title}}</a>
                                            </h3>
                                        </div>
                                        <div class="col-sm-6">
                                            <p style="font-size: 16px; float: right;"><b>Date</b> : {{post.createdOn.substring(0,10)}}</p>
                                        </div>
                                    </div>
                                    <p class="sp-paragraph mb-0" [innerHTML]="post.content"></p>
                                    <div>
                                        <a href="/post/{{post.id}}">Read More..</a>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a
                                            href="/"
                                            target="_blank"
                                            >
                                                <i class="far fa-thumbs-up"></i> 12 J'aime
                                            </a>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="/" target="_blank">
                                                <i class="far fa-comment-alt-lines"></i> 2 Commenter
                                            </a>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="/" target="_blank">
                                                <i class="far fa-share-alt"></i> 3 Paratger
                                            </a>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-sm-12">
                                        <div class="post-editor">
                                            <textarea name="post-field" id="post-field" class="post-field" placeholder="Write Something Cool!"></textarea>
                                            <div class="d-flex">
                                                <button class="btn btn-success px-4 py-1">Publier</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.sp-content -->
                            </div>
                        <!-- /.stream-posts -->
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.profile-section-main -->
        </div>
        </div>
</div>