.page {
    padding: 0 1rem;
    background: #f1f5f9;
    &__box {
      min-height: 120px;
      background: #1e293b;
      margin: 0 -1rem;
      font-size: 36px;
    }
    &__content {
      min-height: calc(100vh - 178px);
      border-radius: 10px;
      margin-top: -2rem;
      background: white;
      color: black;
      font-size: 2rem;
      &-data {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
.d-flex{
    color: #fff;
}
body {
  font-size: 12px;
  font-family: Comic Sans MS;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#main-card {
  max-width: 100%;
  box-shadow: -5px 2px 18px 4px #ccc;
  margin: 23px;
  border-radius: 10px;
  height: 100%
}

#card-stat{
  width: 100%;
  padding: 30px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #465765;
}

.cover-photo {
  background: #fff;
  width: 50%;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-info{
  width: 100%;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}

.photo {
  background: #fff;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
img {
  position: relative;
  top: -50px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  box-shadow: -1px 1px 11px 6px rgba(189, 172, 172, 0.33);
}
.content {
  background: #fff;
  width: 100%;
  height: 30px;
  position: relative;
  top: -45px;
  padding: 5px;
}

.contact {
  background: #e4a54d;
  width: 200px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}

h2.name,
h3,
a {
  margin: 0;
  text-align: center;
}

h2.name {
  padding-bottom: 20px;
}

h3.fullstack {
  padding-bottom: 10px;
}

a {
  color: #0ab581;
  text-decoration: none;
}

a:hover {
  color: black;
}

ul {
  margin-top: 10px;
  padding: 0;
}

.fa {
  font-size: 22px;
  padding: 10px;
  text-decoration: none;
  color: #465765;
}

.fa:hover {
  color: #4eb98d;
}

a.certified {
color: black;
cursor: pointer;
}

a.certified:hover {
color: #0ab581;
}

div#main-card:hover {
  -webkit-animation-name: pulse;  
  animation-name: pulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
  @-webkit-keyframes pulse {
  0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
  }
  50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
  }
}
  @keyframes pulse {
  0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
  }
  50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
  }
} 
p{
  text-align: center;
}
.bg {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).webp");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.info{
  color: #ffb402;
}