<div class="container-fluid page">
    <div class="d-flex page__box p-5 mt-2">Récompense</div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <mat-card>
                        info
                    </mat-card>
                </div>
                <div class="col-lg-6 mb-5">
                    <mat-card>
                        info
                    </mat-card>
                </div>
                <div class="col-lg-3 mb-5">
                    <div id="main-card">
                        <div class="cover-photo"></div>
                        <div class="photo">
                            <img [src]="badge" alt="">
                        </div>
                        <div class="content">
                            <h2 class="name">Name</h2>
                            <p>
                                Le Lorem Ipsum est simplement du faux texte employé dans la composition
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 mb-5">
                    <div id="main-card">
                        <div class="cover-photo"></div>
                        <div class="photo">
                            <img [src]="badge" alt="">
                        </div>
                        <div class="content">
                            <h2 class="name">Name</h2>
                            <p>
                                Le Lorem Ipsum est simplement du faux texte employé dans la composition
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div id="main-card">
                        <div class="cover-photo"></div>
                        <div class="photo">
                            <img [src]="badge" alt="">
                        </div>
                        <div class="content">
                            <h2 class="name">Name</h2>
                            <p>
                                Le Lorem Ipsum est simplement du faux texte employé dans la composition
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div id="main-card">
                        <div class="cover-photo"></div>
                        <div class="photo">
                            <img [src]="badge" alt="">
                        </div>
                        <div class="content">
                            <h2 class="name">Name</h2>
                            <p>
                                Le Lorem Ipsum est simplement du faux texte employé dans la composition
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div id="main-card">
                        <div class="cover-photo"></div>
                        <div class="photo">
                            <img [src]="badge" alt="">
                        </div>
                        <div class="content">
                            <h2 class="name">Name</h2>
                            <p>
                                Le Lorem Ipsum est simplement du faux texte employé dans la composition
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div id="main-card">
                        <div class="cover-photo"></div>
                        <div class="photo">
                            <img [src]="badge" alt="">
                        </div>
                        <div class="content">
                            <h2 class="name">Name</h2>
                            <p>
                                Le Lorem Ipsum est simplement du faux texte employé dans la composition
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div id="main-card">
                        <div class="cover-photo"></div>
                        <div class="photo">
                            <img [src]="badge" alt="">
                        </div>
                        <div class="content">
                            <h2 class="name">Name</h2>
                            <p>
                                Le Lorem Ipsum est simplement du faux texte employé dans la composition
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div id="main-card">
                        <div class="cover-photo"></div>
                        <div class="photo">
                            <img [src]="badge" alt="">
                        </div>
                        <div class="content">
                            <h2 class="name">Name</h2>
                            <p>
                                Le Lorem Ipsum est simplement du faux texte employé dans la composition
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div id="main-card">
                        <div class="cover-photo"></div>
                        <div class="photo">
                            <img [src]="badge" alt="">
                        </div>
                        <div class="content">
                            <h2 class="name">Name</h2>
                            <p>
                                Le Lorem Ipsum est simplement du faux texte employé dans la composition
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div id="main-card">
                        <div class="cover-photo"></div>
                        <div class="photo">
                            <img [src]="badge" alt="">
                        </div>
                        <div class="content">
                            <h2 class="name">Name</h2>
                            <p>
                                Le Lorem Ipsum est simplement du faux texte employé dans la composition
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div id="main-card">
                        <div class="cover-photo"></div>
                        <div class="photo">
                            <img [src]="badge" alt="">
                        </div>
                        <div class="content">
                            <h2 class="name">Name</h2>
                            <p>
                                Le Lorem Ipsum est simplement du faux texte employé dans la composition
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div id="main-card">
                        <div class="cover-photo"></div>
                        <div class="photo">
                            <img [src]="badge" alt="">
                        </div>
                        <div class="content">
                            <h2 class="name">Name</h2>
                            <p>
                                Le Lorem Ipsum est simplement du faux texte employé dans la composition
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>