<app-badge></app-badge>
<div id="container_1">
  
  <h1 id="title">
  Gestion des Badges
</h1><!--title-->
<p id="description">
  Entrer les paramètres de badges insérer
</p><!--description--->
  
</div><!---container_1--->
<div id="container_2">
  
  <form id="survey-form" [formGroup]="badgeForm" (ngSubmit)="
  addBadge(nom.value,description.value,image.value)">
    <label id="name-label">Name</label>
      <input type="text" #nom id="nom" name="nom" class="form"
       required placeholder="Inserer le nom" formControlName="nom">
      <br><!--name--->
    <label id="carrer">Affecter le badge a la table</label>
    
    <select id="dropdown" name="role" required>
      <option disabled selected value>
        Select your table
      </option>
      <option value="ISC">
        Publication
      </option>
      <option value="IMA">
        Commentaire
      </option>
      <option value="II">
        Récompense
      </option>
      <option value="IGE">
        Monnaies
      </option>
    </select><!--dropdown--->
    <br>
    <label id="number-label">Valeur Affecter</label>
      <input type="number" id="number" name="number" class="form" 
      placeholder="Valeur" min=18 max=60 required><br><!---number-->
    <label id="number-label">Image</label>
      <!--<input type="file"
      id="avatar" name="avatar"
      accept="image/png, image/jpeg">-->
      <input type="text" #image id="image" name="image" class="form" 
      required placeholder="Inserer le nom" formControlName="image"><br><!--name--->
    
    <p>Description de badge inserer</p>
      <textarea
        id="description"
        name="description"
        #description
        placeholder="Enterer la description de badge..."
        formControlName="description"
      ></textarea><!---comment-->
    <button class="button" type="submit">Submit</button>
  </form><!---survey-form--->
</div><!--container_2--->
